body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#b6a0a0;
}

.container {
    background: rgb(119, 96, 96);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(131, 180, 39, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: rgba(255, 255, 255, 0.37);
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
